@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');
@import url('https://fonts.googleapis.com/css?family=Anton');


@font-face {
	font-family: 'Proxima';
	src: url('static/fonts/Proxima Nova Alt Bold.otf'); /* IE9 Compat Modes */
	src: url('static/fonts/Proxima Nova Alt Light.otf'); /* IE9 Compat Modes */
	src: url('static/fonts/Proxima Nova Alt Thin.otf'); /* IE9 Compat Modes */
}

@font-face {
	font-family: 'Spoqa';
	src: url('static/fonts/Spoqa Han Sans Bold.ttf');
	src: url('static/fonts/Spoqa Han Sans Light.ttf');
	src: url('static/fonts/Spoqa Han Sans Regular.ttf');
	src: url('static/fonts/Spoqa Han Sans Thin.ttf');
}

body {
	margin: 0;
	margin-top: 100px;
	padding: 0;
	font-family: Proxima Spoqa -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 1000px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
	height: 1000px;
}

.button {
	width: auto;
	min-width: 150px;
	color: white;
	border-radius: 28px;
	font-size: 24px;
	padding: 6px;
	font-weight: bold;

	&.button-trans {
		background-color: transparent;
		border: none;
		color: #363636;
	}
	&.button-purple {
		background-color: #6c63ff;
	}
	&.button-orange {
		background-color: #ff9f36;
	}

	&.button-large {
		height: 62px;
	}
	&.button-medium {
		height: 44px;
	}
	&.button-small {
		height: 42px;
	}
}


header {
	//* {
	//	border: 1px solid black;
	//}
	transition: 0.4s;
	position: fixed;
	top: 0;
	left: 0;
	height: 130px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	//background-color: #ffffff;

	.container {
		display: flex;
		width: 100%;
		height: 100%;
		max-width: 1440px;
		border: 1px solid black;
		padding: 0 40px;
	}
	border-bottom: 1px solid black;

	.logo {
		width: 80px;
		height: 100%;
		margin: 0 12px;
	}

	.main_menu {
		height: 100%;
		display: flex;
		align-items: center;
		flex: 1;
		.active {
			color: grey;
		}
		a {
			text-align: center;
			width: 150px;
			height: auto;
			border-right: 1px solid #dbdbdb;
			font-size: 18px;
			&:last-child {
				border-right: none;
			}
		}
	}

	&.scrolled {
		height: 80px;
		//a {
		//	font-size: 12px;
		//}
	}

	.auth-buttons {
		justify-self: flex-end;
		display: flex;
		align-items: center;
	}
}

.page-wrapper {
	min-height: calc(100vh - 130px);
	margin-top: 130px;
	display: flex;
	justify-content: center;
	.container {
		width: 100%;
		max-width: 1440px;
	}
}

#homepage {
	margin-top: 0;
	padding-top: 130px;
	background-image: url("static/images/main_background.svg");
	background-size: 100% auto;
	background-repeat: no-repeat;
}
